@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~highlight.js/styles/monokai.css"; /* Adjust to your chosen theme */

html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #2b6cb0,
    #4299e1,
    #63b3ed,
    #90cdf4,
    #2b6cb0,
    #4299e1,
    #63b3ed,
    #90cdf4,
    #2b6cb0,
    #4299e1,
    #63b3ed,
    #90cdf4,
    #63b3ed,
    #4299e1,
    #2b6cb0
  );
  background-size: 900% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
  background: linear-gradient(
    to right,
    #6dd3fe,
    #48b5f0,
    #348ac7,
    #2667d9,
    #348ac7,
    #48b5f0,
    #6dd3fe
  );

  background-size: 900% 300%; /* Adjusted to accommodate the extended gradient */
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Make the text color transparent to show the gradient */
  -webkit-text-fill-color: transparent; /* For Safari */
}

html,
body {
  height: 100%; /* Ensures the full height of the page is considered */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Aligns content in a vertical direction */
}

#__next {
  /* Next.js root element */
  flex: 1;
  display: flex;
  flex-direction: column; /* Ensures flex children (content and footer) are vertical */
  min-height: 100%;
}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}

.scroll-wrapper::-webkit-scrollbar {
  width: 10px; /* width of the vertical scrollbar */
}

.scroll-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track (part the scrollbar can move within) */
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar itself */
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar when hovered over */
}
